---
title: 'Our Work'
description: 'Detroit Sewer Co. for reliable sewer repair, drain cleaning, and maintenance services. Serving Metro Detroit with fast, professional, and affordable solutions for residential and commercial needs. Call now for a free consultation!'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'ourwork/'
eleventyNavigation:
    key: Our Work
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
  
{% endblock %}

{% block body %}

{% include 'components/content_ourwork.html' %}


{% include 'components/cta.html' %}


{% endblock %}