---
title: 'Sewer Repair, Cleaning & Installation'
description: 'Sewer line repair, drain cleaning, sewer installation & maintenance for Metro Detroit homes and businesses. Text or call Detroit Sewer Co. 24/7.'
preloadImg: '/assets/images/bg.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}

{% include 'components/content_services.html' %}

{% include 'components/cta.html' %}

{% endblock %}
