---
title: 'Sewer Service Areas'
description: 'Detroit Sewer Co. serves all of Metro Detroit and Southeast Michigan — Detroit, Dearborn, Livonia, Warren, Ann Arbor, Troy, Southfield & beyond. We travel far!'
preloadImg: '/assets/images/bg.jpg'
permalink: 'servicearea/'
eleventyNavigation:
    key: Service Area
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}

{% include 'components/content_servicearea.html' %}

{% include 'components/cta.html' %}

{% endblock %}
