---
title: 'Sewer Repair, Cleaning & Installation'
description: 'Detroit Sewer Co. offers sewer line repair, storm drain cleaning, sewer installation, and routine maintenance for homes and businesses across Metro Detroit.'
preloadImg: '/assets/images/bg.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}

{% include 'components/content_services.html' %}

{% include 'components/cta.html' %}

{% endblock %}
