---
title: 'Sewer & Drain Cleaning'
description: 'Expert sewer repair, storm drain cleaning & line installation in Metro Detroit. Fast 24/7 response. Text 734-556-2035 for a free consultation.'
permalink: '/'
preloadImg: '/assets/images/bg-m.jpg'
eleventyNavigation:
  key: Home
  order: 100
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %}

{% block body %}

{% include 'components/hero.html' %}
{% include 'components/home2.html' %}
{% include 'components/home3.html' %}
{% include 'components/steps.html' %}
{% include 'components/testimonial.html' %}
{% include 'components/why.html' %}
{% include 'components/blog-preview.html' %}
{% include 'components/cta.html' %}

{% endblock %}
